<%= form_for @travel_vendor, :html => { :class => "form-horizontal travel_vendor" } do |f| %>

  <% if @travel_vendor.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@travel_vendor.errors.count, "error") %> prohibited this travel_vendor from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @travel_vendor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :ph_no, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :ph_no, :class => 'form-control' %>
    </div>
    <%=f.error_span(:ph_no) %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>
  <div class="form-group">
    <%= f.label :url, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :url, :class => 'form-control' %>
    </div>
    <%=f.error_span(:url) %>
  </div>

  <%= f.file_field :avatar %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                travel_vendors_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
