<%- model_class = TravelVendor -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @travel_vendor.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ph_no) %>:</strong></dt>
  <dd><%= @travel_vendor.ph_no %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @travel_vendor.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
  <dd><%= @travel_vendor.url %></dd>
  <dd><%= image_tag @travel_vendor.avatar.url(:thumb) %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              travel_vendors_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_travel_vendor_path(@travel_vendor), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              travel_vendor_path(@travel_vendor),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
